<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{  _('Email') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level"data-bind="value: settings.plugins.meross_mss425f.email">
        </div>
        <label class="control-label">{{  _('Password') }}</label>
        <div class="controls">
            <input type="password" class="input-block-level"data-bind="value: settings.plugins.meross_mss425f.password">
        </div>
        <label class="control-label">{{  _('Plugs to shutdown') }}</label>
        <div class="controls">
            <img src="/plugin/meross_mss425f/static/img/mss425f.png">
            <input id="first_plug" type="checkbox" class="input-block-level"data-bind="checked: settings.plugins.meross_mss425f.multiplug.first_plug">
            <input id="second_plug" type="checkbox" class="input-block-level"data-bind="checked: settings.plugins.meross_mss425f.multiplug.second_plug">
            <input id="third_plug" type="checkbox" class="input-block-level"data-bind="checked: settings.plugins.meross_mss425f.multiplug.third_plug">
            <input id="fourth_plug" type="checkbox" class="input-block-level"data-bind="checked: settings.plugins.meross_mss425f.multiplug.fourth_plug">
            <input id="usb_plug" type="checkbox" class="input-block-level"data-bind="checked: settings.plugins.meross_mss425f.multiplug.usb_plug">
        </div>
    </div>
</form>
